@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1199zx');
  src:  url('fonts/icomoon.eot?1199zx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1199zx') format('truetype'),
    url('fonts/icomoon.woff?1199zx') format('woff'),
    url('fonts/icomoon.svg?1199zx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-EinSof:before {
  content: "\e900";
}
